/*GENERAL STYLES*/
*{
	box-sizing: border-box;
	font-size: 16px;
}

/* google fonts */
.dynapuff-header { /* use this for headers -  add new class if changing weight/style */
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.truculenta-body { /* use this for body -  add new class if changing weight/style */
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Colour Scheme Darkest to Lightest */
:root {
    /* created variables of colours - use var(variablename) instead of hexcode in classes */
	--clr-charcoal: #243c4cff;
    --clr-charcoal-2: #2c444cff;
    --clr-air-force-blue: #5289adff;
    --clr-slate-gray: #698696ff;
    --clr-ash-gray: #acbcbfff;
    --clr-mint-cream: #f4fcfbff;
}

/*
style notes for team developers
all class names for your pages should be(to avoid overwritting others css code): pageNo_whateverElse  eg. p1_mainTitle
select element in css using id or classes (to avoid overwritting others css code)

use rem unit for any text size(good for responsiveness)

*/



/*HOME PAGE*/
.p0_title{
	margin-top:5rem;
	margin-bottom: 5rem;
	font-size: 7rem;
	text-align: center;
}

.p0_allArticles{
	width: 100%;
	display:flex;
	justify-content: center;
}
.p0_cardContainer{
	width:100%;
}
/*RITIKA*/




/*ERNESTO*/




/*SHOURYA*/




/*SZYMON*/
/* use class names: p4 (both) p4-1 (page 1) or p4-2 (page 2) */
.p4_title {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	padding: 0;
	font-size: 3rem;
	text-align: center;
	color: var(--clr-air-force-blue); /* changes color to variable (easier to remember/change than hex) */
	text-shadow: 2px 2px var(--clr-charcoal);
}

.p4_textBody {
	grid-area: 1 / 4 / 4 / 7; /* row-start / col-start / row-end / col-end */
	padding: 0 1rem 0 1rem; /* top / right / bottom / left */
	text-align: justify;
	font-size: 1.5rem;
	color: var(--clr-charcoal-2); /* changes color to variable (easier to remember/change than hex) */
}

.p4_background {
	background-color: var(--clr-ash-gray);
}

.p4_container1 {
	display: grid; /* makes the container into a grid */
	grid-template-rows: repeat(auto-fit, 1fr); /* auto adds rows of 1 fraction (responsive unit) to fill screen */
	grid-template-columns: repeat(auto-fit, 1fr); /* auto adds columns of 1 fraction (responsive unit) to fill screen */
}

.p4_container2 {
	display: grid; /* makes the container into a grid */
	grid-template-rows: repeat(auto-fit, 1fr); /* auto adds rows of n pixels to fill screen */
	grid-template-columns: repeat(auto-fit, 1fr); /* auto adds columns of n pixels to fill screen */
}

.p4_formContainer {
	width: 600px;
	background-color: var(--clr-slate-gray);
	border-radius: 16px;
	margin: 0 auto 1rem;
	padding: 0 1rem 0 1rem;
}

.p4_form-group {
	padding: 1rem;
}

.p4_form-group label {
	color: #000000;
}

.p4_form-group input, textarea {
	background-color: var(--clr-ash-gray);
	border-radius: 5px;
	border-style: solid;
	border-width: 0.15rem;
	border-color: var(--clr-charcoal);
	color: var(--clr-charcoal);
	font-size: 1rem;
}

.p4_btn-donate {
	display: inline-block;
	text-decoration: none;
	color: var(--clr-charcoal);
	background-color: var(--clr-slate-gray);
}

.p4_form-group button[type="submit"] {
	background-color: var(--clr-charcoal);
	color: var(--clr-mint-cream);
	border-radius: 5px;
	border-style: solid;
	border-color: var(--clr-charcoal);
}

.p4-1_table {
	grid-area: 1 / 5 / 2 / 10; /* row-start / col-start / row-end / col-end */
}

.p4_img {
	grid-area: 1 / 1 / 4 / 4; /* row-start / col-start / row-end / col-end */
	padding-left: 1rem; /* moves image away from screen border */
}


