/*GENERAL STYLES*/
*{
	box-sizing: border-box;
	font-size: 16px;
}

/* google fonts */
.dynapuff-header { /* use this for headers -  add new class if changing weight/style */
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.truculenta-body { /* use this for body -  add new class if changing weight/style */
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Colour Scheme Darkest to Lightest */
:root {
    /* created variables of colours - use var(variablename) isntead of hexcode in classes */
    --clr-charcoal: #243c4cff;
    --clr-charcoal-2: #2c444cff;
    --clr-air-force-blue: #5289adff;
    --clr-slate-gray: #698696ff;
    --clr-ash-gray: #acbcbfff;
    --clr-mint-cream: #f4fcfbff;
}

/*
style notes for team developers
all class names for your pages should be(to avoid overwritting others css code): pageNo_whateverElse  eg. p1_mainTitle
select element in css using id or classes (to avoid overwritting others css code)

use rem unit for any text size(good for responsiveness)

*/



/*HOME PAGE*/
.p0_title{
	margin-top:5rem;
	margin-bottom: 5rem;
	font-size: 7rem;
	text-align: center;
}

.p0_allArticles{
	width: 100%;
	display:flex;
	justify-content: center;
}
.p0_cardContainer{
	width:100%;
}
/*RITIKA*/




/*ERNESTO*/




/*SHOURYA*/




/*SZYMON*/
/* use class names: p4 (both) p4-1 (page 1) or p4-2 (page 2) */
.p4_title {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	padding: 0;
	font-size: 3rem;
	text-align: center;
	color: var(--clr-air-force-blue);
}

.p4_title2 {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	font-size: 3rem;
	text-align: center;
	color: var(--clr-air-force-blue);
	grid-area: ;
}

.p4_container1 {
	display: grid; /* makes the container into a grid */
	grid-template-rows: repeat(auto-fill, 1fr); /* creates rows with size of n pixels */
	grid-template-columns: repeat(auto-fill, 1fr); /* creates columns with size of n pixels */
}

.p4_container2 {
	display: grid; /* makes the container into a grid */
	grid-template-rows: repeat(auto-fill, 100px); /* creates rows with size of n pixels */
	grid-template-columns: repeat(auto-fill, 100px); /* creates columns with size of n pixels */
}

.p4-1_table {
	grid-area: 1 / 5 / 2 / 10;
}

.p4_img {
	grid-area: 1 / 1 / 4 / 4; /* row-start / col-start / row-end / col-end */
	padding-left: 100px;
}

.p4_textBody {
	grid-area: 1 / 4 / 4 / 7; /* row-start / col-start / row-end / col-end */
	padding: 0 1rem 0 1rem;
	text-align: justify;
	font-size: 1.3rem;
	color: var(--clr-slate-gray);
}